<div>
	<p>Marcel's Dealio</p>
</div>

<ul>
  <% ['nips', 'necks', 'pies'].each do |fruit| %>
    <li>I like to eat <%= fruit %></li>
  <% end %>
</ul>

<a href="http://cdn.fleishmanhillard.com/wp-content/uploads/meta/office-slideshow-image/2013/fleishman-hillard-new-york-1366994789.jpg">My home.</a>